---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <article>
    <h1>{frontmatter.title}</h1>
    <p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
    <slot />
  </article>
  <div class="giscus-comments">
    <script>
      function loadGiscus() {
        const script = document.createElement("script");
        script.src = "https://giscus.app/client.js";
        script.setAttribute("data-repo", "inic8/blog-planetoid-reader");
        script.setAttribute("data-repo-id", "MDEwOlJlcG9zaXRvcnkzODQ2OTk4MjM=");
        script.setAttribute("data-category", "General");
        script.setAttribute("data-category-id", "DIC_kwDOFu4Nr84CjGze");
        script.setAttribute("data-mapping", "pathname");
        script.setAttribute("data-strict", "0");
        script.setAttribute("data-reactions-enabled", "1");
        script.setAttribute("data-emit-metadata", "0");
        script.setAttribute("data-input-position", "bottom");
        script.setAttribute("data-theme", "preferred_color_scheme");
        script.setAttribute("data-lang", "en");
        script.crossOrigin = "anonymous";
        script.async = true;

        const comments = document.getElementById("giscus-comments");
        if (comments) comments.appendChild(script);
      }

      // Load Giscus after the content has been loaded
      window.addEventListener("load", loadGiscus);
    </script>
    <div id="giscus-comments"></div>
  </div>
</Layout>

<style>
  article {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .giscus-comments {
    margin-top: 2rem;
  }
</style>